/** Add css rules here for your application. */



* {margin: 0px; padding: 0px; text-decoration: none }

.fbColorLight {
  background: #ECEFF5;	
}

.addSpace {
	margin: 10px;
}

.rounded {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


/* Bluish #1b7bdd; */
a, a:visited, a:hover  {
	color: #1b7bdd;
}

a:hover {
	text-decoration: underline;
}

body {
    background-image:url(/bg.png);
    background-repeat:repeat-x;
    margin-left: 20px;
	
}

#TopMenu{
	width: 900px;
    padding-left: 5px;
    height: 70px;
    background-image: url(/gwittit-bg.png);
    background-repeat: no-repeat;
}


.clickable {
	cursor: pointer;
}


#GwittIt {
	/*margin-left: 150px;*/
	width: 950px;
}

.FbName {
	white-space: nowrap;
	font-weight: bold;
}

img { border: 0px; }


h2 {
	margin-top: 10px;
	margin-bottom: 5px;
}

h3 {
	margin-top: 8px;
	margin-bottom: 3px;
}

/* ----------------------------------- SHOWCASE --------------------------------- */

/* =Events_get */
.gwittit-Events_get .event {
	margin: 10px;
	padding: 10px;
}

.gwittit-Events_get .eventItemHolder {
	width: 500px;
	margin: 10px;
	border-bottom: 1px solid #1b7bdd;
}

.gwittit-Showcase-Groups_get .membersWrapper {
	padding: 20px;
}

/* gwittit-Message_getThreadsInFolder */

.gwittit-Message_getThreadsInFolder .gwt-Button {
	padding: 5px;
}

.gwittit-Message_getThreadsInFolder .mailFolders { 
	margin-top: 20px;
	font-size: 120%;
	font-weight: bold;
}

.gwittit-Stream_publish, .gwittit-Stream_publish .innerPanel {
	width: 100%;
}

.gwittit-Stream_publish .innerPanel {
	margin: 10px;
	padding: 10px;
	border: 1px solid #cccccc;
}

.gwittit-Events_get .eventInfo {
	margin-bottom: 10px;
}

.mailFolders a {
	margin: 10px;
}
.messageThread {
	margin: 10px;
	width: 100%;
	border-bottom: 1px solid #1b7bdd;
}

.messages {
	border-left: 4px solid #BEC7CC;
	padding-left: 10px;
	margin: 10px;
}

/* Demo App */
/* --------------------- Top Menu ------------------------------ */

#TopMenu .loginInfo {
	color: white;
	float: right;
}

#TopMenu .miniProfilePic {
	margin: 2px;
	border: 3px solid white;
}
#TopMenu a {
	color: white;
}

/* ------------------- Main menu bar horizonal ------------------- */
.horizontalMenuBar {
	margin-bottom: 40px;
}
.horizontalMenuBar a {
	font-size: 110%;
	margin: 10px;
}


/* -------------------------- Login ----------------------- */
#LoginBox {
	margin: 50px;
}



/* --------------------------------- ShowCase ---------------------------- */

#ShowcaseClient .showcaseWrapper  {
	width: 500px;
	padding: 40px;
}

.params {Ê
	width: 100%;
}

.treeMenu {
	width: 220px;
}

.treeMenuWrapper h3 {
	padding: 0px;
	margin: 0px;
}

#ShowcaseClient h1 {
	margin-bottom: 40px;
	text-decoration:  underline;
}

#ShowcaseClient .gwittit-CommentUI {
	width: 500px;
}

#ShowcaseClient .gwittit-CommentUI .gwittit-FbProfilePic {
	margin: 5px;
}

#ShowcaseClient .notification {
	margin: 10px;
}

.postContent {
	width: 500px;
	margin-left: 10px;
}

.profiles {
	padding: 10px;
}

.attachment, likes, .comments, .profiles {
	width: 500px;
}

.gwittit-Stream_get .post {
	padding: 10px;
	border-bottom: 1px solid #f7f7f7;
}

.streamMenu * {
	font-weight: bold;
}


.post h4 {
	width: 100%;
	padding: 3px;
}

/* --------------- */

.gwt-TabPanel {
	margin-left: 10px;
	width: 99%;
}

.gwt-TabBar .gwt-Label {
        font-size: 12px;
}

.gwt-TabBar .gwt-TabBarFirst {
        width: 10px;
}
.gwt-TabBar .gwt-TabBarItem {
        margin-top: 5px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 10px;
        font-weight: bold;
}

.gwt-TabBar .gwt-TabBarItem-selected  {
        position: relative;
        top: 1px;
        border-top: 1px solid #D8DFEA;
        border-right: 1px solid #D8DFEA;
        border-left: 1px solid #D8DFEA;
        border-bottom:3px solid white;
        background: white;
}

.gwt-TabBarItem-selected .gwt-Label {
        color: #3B5998;
}

.gwt-TabPanel {
        /* See Common */
}
.gwt-TabPanelBottom {
	
        background: white;
        border: 1px solid white;
        border-top: 1px solid #cccccc;
        /*
        border: 0px;
        border-top: 0px solid #f7f7f7;
        */
}
