/** Add css rules here for your application. */


* {margin: 0px; padding: 0px; text-decoration: none }

body {
	background-image:url(bg.png);
	background-repeat:repeat-x;
	margin-left: 20px;
}

.clickable {
	cursor: pointer;
}

.deleted {
	display: none;
}
#GwittIt {
	/*margin-left: 150px;*/
	width: 950px;
}

.FbName {
	white-space: nowrap;
	font-weight: bold;
}

img { border: 0px; }


h2 {
	margin-top: 10px;
	margin-bottom: 5px;
}

.debugLink {
	color: #f7f7f7;
}


/* --------------------- Top Menu ------------------------------ */
#TopMenu{
	width: 900px;
}

.whatIsGwittit {
	margin-top: 20px;	
	font-weight: bold;
	margin-left: 50px;
}

#TopMenu{
	padding-left: 5px;
	height: 100px;
	
	background-image: url(/gwittit-bg.png);
	background-repeat: no-repeat;
}

#TopMenu .loginInfo {
	color: white;
	float: right;
}

#TopMenu .miniProfilePic {
	margin: 2px;
	border: 3px solid white;
}
#TopMenu a {
	color: white;
}

/* ------------------- Main menu bar horizonal ------------------- */
.horizontalMenuBar {
	margin-bottom: 40px;
}
.horizontalMenuBar a {
	font-size: 110%;
	margin: 10px;
}


/* -------------------- Frontpage / set status ------------------ */
#Frontpage .inputTextArea {
	font-size: 14px;
	padding: 10px;	
}

/* Textarea */
.waitingForInput {
	color: #808080;
}

.selected:hover {
	color: white;
}
.selected {
	color: white;
	background: #6D84B4;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* -------------------------- Login ----------------------- */
#LoginBox {
	margin: 50px;
}

#LoginBox, .statusBoxPnl {
	background: #DDEEF6;
	border: 1px solid #5599BB;
	padding: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* --------------------------- Stream Menu ------------------------ */
.streamFilterMenu {
	width: 200px;
	margin-right: 20px;
	margin-top: 10px;
	padding: 0px;
}

.menuItem:hover {
	color: white;
	background: #6D84B4;	
}
.menuItem:hover * {
	color: white;
}

.menuItem {
	width: 100%;
	padding: 3px;
	border-bottom: 1px solid #dcd9de;
}
.menu a {
	color: #808080;
	font-size: 14px;
}

/* -------------------------- MenuBar ( horizontal ) ------------------------- */

.menuBarWrapper {
	width: 100%;
	padding: 10px;
}

.menuBar {
	margin-bottom: 10px;
	width: 100%;
}

.menuBar a {
	margin: 5px;
	float:left;
}

.menuBar a:hover {
	color: white;
	background: #6D84B4;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* -------------------------------- Stream ------------------------- */

#FacebookStream {
	width: 100%;
}

.streamFilter {
	margin-top: 10px;
	background: #ECEFF5;
	width: 100%;
}

#FacebookStream .streamFilter img {
	margin: 10px;
	border: 1px solid #f7f7f7;
}

.streamMainContent {
	width: 450px;
}

.gwittit-StreamUI {
	padding-bottom: 5px;
	margin: 4px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eeeeee;
}

.gwittit-StreamUI .gwittit-FbProfilePic {
	margin-right: 5px;
	border: 1px solid #f7f7f7;
}


.streamListing {
	padding: 10px;
}

.streamInfo {
	margin: 5px;
	padding: 4px;
	color: #cccccc;
}

.streamInfo * {
	float: left;
	margin-left: 5px;
}

.streamInfo img {
	margin-right: 5px;
}

.streamAttachment {
	color: #808080;
	padding: 3px;
}

.streamAttachment .gwt-HTML {
	color: #808080;
}	

.streamMedia img {
	border: 1px solid #f7f7f7;
	padding: 5px;
	margin: 5px;
}

/* ----------------------- Comments ------------------------------- */
.gwittit-CommentBoxUI .textArea {
	margin: 3px; 
}

.collapsed {
	width: 440px;
	color: #cccccc;	
}

.expanded {
	width: 380px;
}

.gwittit-CommentBoxUI .gwt-Button {
	float: right;
}

.commentList {
	padding: 3px;
}

.gwittit-CommentUI-inner {
	padding: 4px;

}

.gwittit-LikesUI,
.gwittit-CommentUI,
.gwittit-CommentBoxUI,
.commentList {
	width: 100%;
}

.gwittit-LikesUI,
.gwittit-CommentUI,
.gwittit-CommentBoxUI {
	background: #ECEFF5;
	
}

.gwittit-CommentUI-inner .gwt-HTML {
	overflow: auto;
}

.gwittit-CommentUI {
	margin-bottom: 3px;
}

.gwittit-LikesUI {
	border: 1px solid #dcd9de;
}
.gwittit-CommentBoxUI {
	padding: 4px;
	border-bottom: 1px solid #dcd9de;
}

.gwittit-CommentBoxUI {
	margin-top: 3px;
}

/* ------------------------ Displayed when user has not granted permission ------------------- */
.needStreamPermission {
	width: 550px;
	padding: 30px;
	border: 1px solid #F7F7F7;
}

.needStreamPermission img {
	margin: 10px;
}

.actions {
	padding-left: 75px;
}

/* --------------------------------- TestClient ---------------------------- */

#ShowcaseClient .showcaseWrapper  {
	width: 500px;
	padding: 40px;
}

.params {Ê
	width: 100%;
}

.treeMenu {
	width: 220px;
}

.treeMenuWrapper h3 {
	padding: 0px;
	margin: 0px;
}

#ShowcaseClient h1 {
	margin-bottom: 40px;
	text-decoration:  underline;
}

#ShowcaseClient .gwittit-CommentUI {
	width: 500px;
}

#ShowcaseClient .gwittit-CommentUI .gwittit-FbProfilePic {
	margin: 5px;
}

#ShowcaseClient .notification {
	margin: 10px;
}

/* ---------------------------------- PhotosGetAlbumsExample ----------- */

#PhotosGetAlbumsExample .albumsPanel {
	padding: 20px;
}

.album {
	float: left;
	height: 150px;
	width: 150px;
	padding: 10px;
	margin: 10px;
	border: 1px solid #5599bb;	
}

#TestClient hr {
	margin: 20px;
}

/* ---------------------------------------------------------------------- */
.gwt-TabPanel {
	margin-left: 10px;
	width: 99%;
}

.gwt-TabBar .gwt-Label {
        font-size: 12px;
}

.gwt-TabBar .gwt-TabBarFirst {
        width: 10px;
}

.gwt-TabBar .gwt-TabBarItem {
        margin-top: 5px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 10px;
        font-weight: bold;
}

.gwt-TabBar .gwt-TabBarItem-selected  {
        position: relative;
        top: 1px;
        border-top: 1px solid #D8DFEA;
        border-right: 1px solid #D8DFEA;
        border-left: 1px solid #D8DFEA;
        border-bottom:3px solid white;
        background: white;
}

.gwt-TabBarItem-selected .gwt-Label {
        color: #3B5998;
}

.gwt-TabPanel {
        /* See Common */
}
.gwt-TabPanelBottom {
	
        background: white;
        border: 1px solid white;
        border-top: 1px solid #cccccc;
        /*
        border: 0px;
        border-top: 0px solid #f7f7f7;
        */
}
