/** Add css rules here for your application. */


* {margin: 0px; padding: 0px; text-decoration: none }

body {
	width: 100%;
	background-image:url(bg.png);
	background-repeat:repeat-x;
}

.clickable {
	cursor: pointer;
}

#GwittIt {
	/*margin-left: 150px;*/
	width: 750px;
}

.FbName {
	white-space: nowrap;
	font-weight: bold;
}

img { border: 0px; }


h2 {
	margin-top: 10px;
	margin-bottom: 5px;
}

.debugLink {
	color: #f7f7f7;
}


#Frontpage,
#TopMenuGwittee {
	width: 100%;
}


.whatIsGwittit {
	margin-top: 20px;	
	font-weight: bold;
	margin-left: 50px;
}

#TopMenuGwittee {
	padding-left: 5px;
	height: 80px;
	
	background-image: url(/gwittit-bg.png);
	background-repeat: no-repeat;
}

#TopMenuGwittee .loginInfo {
	color: white;
	float: right;
}

#TopMenuGwittee .miniProfilePic {
	margin: 2px;
	border: 3px solid white;
}


/* -------------------- Frontpage / set status ------------------ */

#Frontpage .inputTextArea {
	font-size: 14px;
	padding: 10px;	
}

.waitingForInput {
	color: #808080;
}


/* -------------------------- Login ----------------------- */

#NeedLoginWidget {
	margin: 50px;
}

#NeedLoginWidget, .statusBoxPnl {
	background: #DDEEF6;
	border: 1px solid #5599BB;
	padding: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


/* --------------------------- Menu ------------------------ */
.menu {
	width: 150px;
	margin-right: 10px;
	margin-top: 40px;
	padding: 0px;
}

.menuItem:hover {
	color: white;
	background: #6D84B4;	
}
.menuItem:hover * {
	color: white;
}

.menuItem {
	width: 100%;
	padding: 3px;
	border-bottom: 1px solid #dcd9de;
}
.menu a {
	font-size: 14px;
}


/* -------------------------------- .gwittit-Stream ------------------------- */

.streamListing, .stream {
}

.streamListing {
	padding: 10px;
}

.gwittit-Stream {
	padding-bottom: 5px;
	margin: 4px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eeeeee;
}

.gwittit-Stream .gwittit-FbProfilePic {
	margin-right: 5px;
	border: 1px solid #f7f7f7;
}

.gwittit-StreamInfo {
	margin: 5px;
	padding: 4px;
	color: #cccccc;
}

.gwittit-StreamInfo img {
	margin-right: 5px;
}

.gwittit-Attachment {
	color: #808080;
	padding: 3px;
}

.gwittit-Attachment .gwt-HTML {
	color: #808080;
}	

.gwittit-Media img {
	border: 1px solid #f7f7f7;
	padding: 5px;
	margin: 5px;
}

.gwittit-FbLiveSteam {
	width: 650px;
}



.unlockStream {
	width: 550px;
	padding: 30px;
	border: 1px solid #F7F7F7;
}

.unlockStream img {
	margin: 10px;
}

.actions {
	width: 650px;
	padding-left: 75px;
}

.feedBack {
	width: 400px;
}

.feedBack {
	background: #ECEFF5;
	padding: 3px;
	border-bottom: 1px solid #dcd9de;
	margin-bottom: 15px;
}

.text {
	margin-left: 5px;
}




/* ---------------------------------- Examples -------------------------- */

#Example {
	width: 750px;
	padding: 40px;
	border-left: 1px solid #f7f7f7;
}

#Example .info {
	/*background: #ddeef6;*/
	margin: 10px;
	color: #CCCCCC;
}
	




/* ---------------------------------- PhotosGetAlbumsExample ----------- */

#PhotosGetAlbumsExample .albumsPanel {
	padding: 20px;
}

.album {
	float: left;
	height: 150px;
	width: 150px;
	padding: 10px;
	margin: 10px;
	border: 1px solid #5599bb;	
}


/* ---------------------------------------------------------------------- */
.gwt-TabPanel {
	margin-left: 10px;
	width: 99%;
}

.gwt-TabBar .gwt-Label {
        font-size: 12px;
}

.gwt-TabBar .gwt-TabBarFirst {
        width: 10px;
}

.gwt-TabBar .gwt-TabBarItem {
        margin-top: 5px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 10px;
        font-weight: bold;
}

.gwt-TabBar .gwt-TabBarItem-selected  {
        position: relative;
        top: 1px;
        border-top: 1px solid #D8DFEA;
        border-right: 1px solid #D8DFEA;
        border-left: 1px solid #D8DFEA;
        border-bottom:3px solid white;
        background: white;
}

.gwt-TabBarItem-selected .gwt-Label {
        color: #3B5998;
}

.gwt-TabPanel {
        /* See Common */
}
.gwt-TabPanelBottom {
	
        background: white;
        border: 1px solid white;
        border-top: 1px solid #cccccc;
        /*
        border: 0px;
        border-top: 0px solid #f7f7f7;
        */
}
